@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Story+Script&display=swap');

*, *::before, *::after { box-sizing: border-box; }

:root {
  --bg:        #1F1F1E;
  /* --bg : #F8F8F6; */
  --bg2:       #141416;
  --bg3:       #1a1a1e;
  --bg4:       #222228;
  --border:    #2a2a32;
  --border2:   #38383f;
  --text:      #ffffff;
  --text2:     #9090a0;
  --text3:     #58586a;
  --accent:    #7c6dfa;
  --accent2:   #5a4de0;
  --accent-bg: rgba(124,109,250,0.10);
  --green:     #4ade80;
  --green-bg:  rgba(74,222,128,0.08);
  --amber:     #fbbf24;
  --amber-bg:  rgba(251,191,36,0.08);
  --red:       #f87171;
  --red-bg:    rgba(248,113,113,0.08);
  --radius:    8px;
  --radius-lg: 12px;
  --font:      'Outfit', sans-serif;
  --font-head: "Story Script",
    sans-serif;
  --font-mono:"IBM Plex Serif", serif;
  --nav-h:     56px;
  --sidebar-w: 220px;
}

html, body, #root {
  height: 100%;
  background: var(--bg);
  color: var(--text);
  font-family: var(--font);
  font-size: 14px;
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar { width: 4px;height: 4px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--border2); border-radius: 2px; width : 4px !important; }
::selection { background: var(--accent-bg); color: var(--accent); }
:focus-visible { outline: 2px solid var(--accent); outline-offset: 2px; border-radius: var(--radius); }

input, textarea, select, button {
  font-family: var(--font);
  font-size: 14px;
  color: inherit;
  background: none;
  border: none;
}
button { cursor: pointer; }
